{% extends 'layout.html' %}
{% block content %}
    <button id="previous" type="button" class="btn btn-secondary">Previous</button>
    <button id="next" type="button" class="btn btn-primary">Next</button>
    <table class="table table-bordered">
        <thead class="thead-dark">

            <tr>
                <th>Name</th>
                <th>Diameter in Km</th>
                <th>Climate</th>
                <th>Terrain</th>
                <th>Surface water %</th>
                <th>Population in formatted way</th>
            </tr>
        </thead>
        <tbody id="datasForTable">

        </tbody>
    </table>

{% endblock %}